<apex-row gap="0" verticalAlignment="center">
	<mat-form-field [appearance]="apexDynamicComponentsService.formFieldAppearance" [floatLabel]="apexDynamicComponentsService.formFieldFloatLabel" [ngClass]="{'no-bottom-padding': noPadding}" (click)="openPicker($event)" [style.cursor]="control?.value ? 'auto' : 'pointer'" class="date-picker apex-field" fxFlex="100px" [attr.data-apex-test]="label || control.displayName">
		<input matInput="matInput" [matDatepicker]="picker" [formControl]="momentControl" [required]="control?.validator && control?.validator({})?.required" [min]="minDate" [max]="maxDate" [style.cursor]="control?.value ? 'auto' : 'pointer'" [autocomplete]="apexDynamicComponentsService.inputAutocomplete">
		<mat-datepicker #picker></mat-datepicker>
		<mat-error *ngIf="momentControl.errors?.matDatepickerMax">Must be on or before {{max.format('l')}}</mat-error>
		<mat-error *ngIf="momentControl.errors?.matDatepickerMin">Must be on or after {{min.format('l')}}</mat-error>
		<mat-error *ngIf="momentControl.errors?. matDatepickerParse">Please specify a valid date.</mat-error>
	</mat-form-field>
	<mat-form-field [appearance]="apexDynamicComponentsService.formFieldAppearance" [ngClass]="{'no-bottom-padding': noPadding}" floatLabel="always" class="time-picker apex-field" fxFlex (click)="onTimePickerClick()" [attr.data-apex-test]="label || control.displayName">
		<input matInput [matAutocomplete]="auto" [formControl]="timeControl" [matAutocompleteDisabled]="!timeControl.value" #input>
		<button mat-icon-button matSuffix [disabled]="momentControl.disabled" data-apex-test="Date Picker">
			<mat-icon>event</mat-icon>
		</button>
		<mat-autocomplete #auto="matAutocomplete" (opened)="filterTimeOptions()" #panel classList="time-picker-panel">
			<mat-option *ngFor="let option of timeOptions; let i = index;" [value]="option" #autoOption>{{option}}</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<mat-label class="fake" fxFlex>{{label || control.displayName}}
		<span *ngIf="(control?.validator && control?.validator({})?.required)"> *</span>
	</mat-label>
</apex-row>