// Copyright 2023 Apex Process Consultants. This code is covered by the terms in the Apex Designer Library License file included with this project.

mat-form-field {
    width: 100%;
}

mat-dialog-content {
    width: 60vw;
}

button.download {
    margin-bottom: 20px;
}
