// Copyright 2023 Apex Process Consultants. This code is covered by the terms in the Apex Designer Library License file included with this project.

a {
    color: inherit;
    text-decoration: none;
}

mat-icon {
    height: 28px;
    line-height: 28px;
    vertical-align: text-top;
}
