<mat-form-field [appearance]="apexDynamicComponentsService.formFieldAppearance" [floatLabel]="apexDynamicComponentsService.formFieldFloatLabel" [ngClass]="{'no-bottom-padding':noPadding}" class="apex-field" [attr.data-apex-test]="label || control?.displayName">
	<mat-label>{{label || control?.displayName}}</mat-label>
	<input matInput [formControl]="maskControl" [required]="control?.validator && control?.validator({})?.required" type="text" [autocomplete]="apexDynamicComponentsService.inputAutocomplete" (blur)="onBlur()" [mask]="mask" [thousandSeparator]="thousandSeparator" [allowNegativeNumbers]="true" inputmode="numeric">
	<mat-error *ngIf="control.errors">{{errorMessage()}}</mat-error>
</mat-form-field>