div.headline {
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
}

mat-card {
    min-height: 190px;
}

mat-card-actions {
    padding-right: 10px;
}
mat-card-header {
    text-align: center;
}
