<mat-form-field [appearance]="appearance || apexDynamicComponentsService.formFieldAppearance" [floatLabel]="floatLabel || apexDynamicComponentsService.formFieldFloatLabel" [ngClass]="{'no-bottom-padding':noPadding}" *ngIf="control" class="apex-field" [attr.data-apex-test]="label || control.displayName">
	<mat-label>{{label || control.displayName}}</mat-label>
	<input [formControl]="formControl" [required]="control?.validator && control?.validator({})?.required" matInput #input [matAutocomplete]="auto" (click)="open()" (blur)="onBlur()" [placeholder]="placeholder">
	<mat-icon matSuffix (click)="open()" class="cursor-pointer dropdown-button" #dropdownButton [ngClass]="{'cursor-pointer': !disabled}">arrow_drop_down</mat-icon>
	<mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="true" [displayWith]="displayNameFunction" (optionSelected)="handleSelect()" [panelWidth]="panelWidth">
		<mat-option *ngFor="let option of filteredOptions; let i = index;" [value]="option">{{displayNameFunction(option)}}</mat-option>
	</mat-autocomplete>
	<button (confirm)="clear()" mat-icon-button matSuffix type="button" *ngIf="clearable && formControl?.value" data-apex-test="Clear" [disabled]="disabled" [confirmMessage]="clearConfirmMessage" [confirmDisabled]="!clearConfirmMessage" [matTooltip]="clearTooltip">
		<mat-icon>{{clearIcon || 'close'}}</mat-icon>
	</button>
	<mat-error *ngIf="control.errors">{{errorMessage()}}</mat-error>
</mat-form-field>