// Copyright 2023 Apex Process Consultants. This code is covered by the terms in the Apex Designer Library License file included with this project.

:host {
    display: block;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    line-height: 40px;
    height: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

mat-icon {
    vertical-align: middle;
}
