<mat-form-field [appearance]="apexDynamicComponentsService.formFieldAppearance" [floatLabel]="apexDynamicComponentsService.formFieldFloatLabel" [ngClass]="{'no-bottom-padding':noPadding}" class="apex-field" [attr.data-apex-test]="label ||control?.displayName">
	<mat-label>{{label ||control?.displayName}}</mat-label>
	<input matInput [formControl]="control" [required]="control?.validator && control?.validator({})?.required" [autocomplete]="apexDynamicComponentsService.inputAutocomplete" type="number" step="1" (blur)="onBlur()">
	<mat-error *ngIf="control.errors">{{errorMessage()}}</mat-error>
</mat-form-field>