<mat-form-field [appearance]="apexDynamicComponentsService.formFieldAppearance" data-apex-test="Filter">
	<mat-icon matPrefix>search</mat-icon>
	<input matInput [formControl]="control" (keyup.enter)="addFilter()">
</mat-form-field>
<mat-chip-list apexWidth="nogrow">
	<mat-chip *ngFor="let filter of filters; let i = index;" [attr.data-apex-test]="filter.name + ': ' + filter.value">{{filter.name}}: {{filter.value}}
		<mat-icon (click)="removeFilter(filter.name)">cancel</mat-icon>
	</mat-chip>
</mat-chip-list>