<mat-form-field [appearance]="apexDynamicComponentsService.formFieldAppearance" [floatLabel]="apexDynamicComponentsService.formFieldFloatLabel" [ngClass]="{'no-bottom-padding':noPadding}" *ngIf="control" [attr.data-apex-test]="label || control.displayName">
	<mat-label>{{label || control.displayName}}</mat-label>
	<input matInput [formControl]="momentControl" [required]="control?.validator && control?.validator({})?.required" [placeholder]="placeholder" [ngxMatDatetimePicker]="picker" [min]="min" [max]="max" [autocomplete]="apexDynamicComponentsService.inputAutocomplete">
	<button (click)="openPicker($event)" mat-icon-button matSuffix data-apex-test="Date Picker">
		<mat-icon>today</mat-icon>
	</button>
	<mat-error *ngIf="control.errors">{{errorMessage()}}</mat-error>
	<ngx-mat-datetime-picker #picker [showSeconds]="false" [stepHour]="stepHour" [stepMinute]="stepMinute" [enableMeridian]="true" [defaultTime]="defaultTime"></ngx-mat-datetime-picker>
</mat-form-field>