// Copyright 2023 Apex Process Consultants. This code is covered by the terms in the Apex Designer Library License file included with this project.

img {
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 20px;
}
